/* 1199 px */
@media screen and (max-width:1199px) {
    .contact-details {
        margin-left:116px;
    }

    #search-form {
        input {
            width:294px;
        }
    }

    .blogs {
        .blog-page-header {
            padding:0;
        }

        .blog, .blog:nth-child(odd) {
            flex-direction:column; 
            align-items:center;
        }
    }

    .about-sidebar-section, .posts-sidebar-section {
        padding:25px 25px;
    }

    .page-not-found-message {
        margin-bottom:40px;
    }

    .status-img {
        margin-bottom:28px;
    }

    .pepper-img {
        margin-bottom:15px;
    }

}

/* 991 px */
@media screen and (max-width:991px) {
    #primary-menu {
        li a {
            padding:11px 13px;
            padding-top:20px;
        }
    }

    #search-form {
        input {
            width:221px;
        }
    }

    .site-footer {
        height:100%;
        padding: 21px 0;
    }

    #footer-site-info {
        position: relative;
        top: 125px;

        .footer-site-logo {
            margin-top:0;
        }

        .copyright {
            p {
                padding-top:7px;
                margin-bottom:17px;
            }
        }
    }

    #footer-main {
        border:none;
        margin-top:0;
        position: relative;
        bottom: 70px;
    }

    #footericons {
        position:relative;
        bottom:78px;

        .social-icons {
            margin-top:24px;
        }
    }

    .footer-navigation, .contact-details {
        float:none;
    }

    #footer-menu {
        text-align:center;
        li {
            display:inline-block;

            a {
                padding-right:10px;
            }
        }
    }

    .contact-details {
        text-align:center;
        margin-left:0;
        margin-top: 7px;
        p {
            display:inline-block;
            padding-right:10px;
        }
    }

    .about-page {
        .about-header {
            margin-bottom:46px;
        }
        .profile {
            .profile-info {
                padding:10px;
            }
        }
    }

    .gallery-page {
        .gallery-image {
            flex:50%;
        }
    }
    
    .blog-page-sidebar {
        margin: 30px 0px; 
    }

    .not-found-page {
        margin-bottom:46px;
    }

}

/*768 px*/
@media screen and (min-width:768px) {
    .mobile-menu, .mobile-navigation {
        display:none;
    }

    .mobile-search {
        display:none;
    }
}

/*767px*/
@media screen and(max-width:767px) {
    .site-content, footer {
        position:relative;
        top:119px;
    }

    .site-header {
        position:fixed;
        z-index:999;
        width:100%;
    }

    .main-menu {
        display:none;
    }

    .header-search {
        display:none;
    }

    .slider {
        margin-top:0;
    }

    .about-container {
        padding:0 50px;
    }

    .testimonials {
        height:100%;
        padding-bottom:86px;

        .testimonial-slider {
            .testimonial {
                padding-left:45px;
                padding-right:45px;
            }
        }

        .testimonial-slider-controls {
            .slider-control {
                bottom:35px;
            }

            #prev {
                left:15px;
            }

            #next {
                right:15px;
            }
        }
    }

    .contact {
        .container {
            margin-left:40px;
            margin-right:40px;
        }

        .wpcf7-form {
            margin-top:39px;
            margin-bottom:39px;
            text-align: left;
    
            p {
                input, textarea, select {
                    border:solid #414042 1px;
                    width:100%;
                }

                .wpcf7-submit {
                    margin:0 0;
                }
            }
        }
    }

    #search-form {
        padding-top:2px;
    }

    .products-page {
        .products {
            .product {
                flex:33.33%;
            }
        }
    }   

    .pumpkin-img {
        display:none;
    }
}

/*481 px */
@media screen and (max-width:480px) {
    .site-content, footer {
        top:116px;
    }

    .header {
        text-align:center;

        .site-icon, .text-icon, .social-icons {
            float:none;
            display:inline-block;
        }

        .site-icon {
            #logo {
                height:30px;
                width:30px;
            }
        }

        .text-icon { 
            p {
                margin-left:2px;
                font-size:16px;
            }
        }

        .social-icons {
            display:block;
        }
    }

    .mobile-menu {
        #menu-toggle {
            padding-left:7px;
            width:52px;
        }

        .mobile-search {
            padding-right:7px;
        }

        #search-form {
            input {
                width:200px;
            }
        }
    }

    .about-container {
        padding:0 25px;
    }

    .testimonials {
        .testimonial-slider {
            .testimonial {
                padding-left:15px;
                padding-right:15px;
            }
        }
    }

    #footer-menu li {
        display:block;
    }

    .contact-details {
        margin-top:10px;

        p {
            display:block;
        }
    }

    #footer-site-info {
        top:274px;
    }    

    .blogs {
        .blog {
            padding:0;
        }
    }

    .products-page {
        .products {
            .product {
                flex:50%;
            }
        }
    }

    .about-page {
        .about-image {
            width:245px;
            height:245px;
        }
    }

    .profile {
        justify-content:center;
    }

    .gallery-page {
        .gallery-image {
            flex:100%;
            margin:0 30px;
        }
    }
}

/* 320px */
@media screen and (max-width:320px) {
    #mobile-menu {
        li {
            a {
                font-size:16px;
            }
        }
    }

    .contact {
        .container {
            margin-left:10px;
            margin-right:10px;
        }
    }
}