body {
  font-family: "Poppins", sans-serif;
}

/* Useful variables */
/* Loading Screen */
.loading-screen {
  background-color: #44413E;
  height: 960px;
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
  z-index: 20;
}
.loading-screen .loader #loading-logo {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
}
.loading-screen .loader #loader {
  height: 200px;
  width: 200px;
  display: block;
  margin: 0 auto;
}
.loading-screen .loader p {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

/* Header */
.header {
  padding: 7px 0;
  background-color: #465b19;
}
.header .site-icon {
  float: left;
}
.header .site-icon img {
  width: 45px;
  height: 45px;
}
.header .text-icon {
  float: left;
}
.header .text-icon p {
  font-family: "Charmonman", cursive;
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
  margin-top: 10px;
}

#search-form {
  padding-top: 8px;
}
#search-form input {
  width: 360px;
  color: #A7A9AC;
  background: transparent;
  background-image: url("../images/search-icon.png");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 97%;
  padding: 5px;
  border: none;
  border-bottom: solid #A7A9AC 1px;
  outline: none;
}
#search-form input::placeholder {
  color: #A7A9AC;
}

/* Menu */
.menu-bottom-border {
  width: 100%;
  height: 4px;
  background-color: #F1F2F2;
}

#primary-menu li a {
  font-size: 14px;
  color: #000000;
  padding: 11px 25px;
  padding-top: 30px;
}
#primary-menu li a:hover, #primary-menu li a:focus, #primary-menu li.active a {
  text-decoration: none;
  color: #be1e2d;
  font-weight: 600;
}

.mobile-menu {
  background-color: #be1e2d;
}
.mobile-menu #menu-toggle {
  color: #ffffff;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in;
  height: 57px;
  width: 65px;
}
.mobile-menu .mobile-search {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
}

.mobile-navigation {
  background-color: #be1e2d;
  border-top: solid #ffffff 1px;
  height: 100%;
  position: fixed;
  width: 0;
  transition: 0.4s linear;
  overflow-x: hidden;
}
.mobile-navigation .close-nav {
  float: right;
  background: transparent;
  border: none;
  font-size: 30px;
  color: #ffffff;
}
.mobile-navigation #mobile-menu {
  padding: 0;
  margin: 0;
  clear: both;
}
.mobile-navigation #mobile-menu li {
  float: none;
  list-style-type: none;
  padding: 5px;
  text-align: center;
}
.mobile-navigation #mobile-menu li a {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}
.mobile-navigation #mobile-menu li:hover {
  background-color: #ffffff;
}
.mobile-navigation #mobile-menu li:hover a {
  color: #be1e2d;
}

/* Slider */
.slider {
  margin-top: 12px;
}
.slider .cycloneslider-template-standard {
  margin-bottom: 0;
}
.slider .cycloneslider-template-standard .cycloneslider-pager {
  bottom: 40px;
}

/* Testimonials */
.testimonials {
  height: 351px;
  width: 100%;
  background-image: url("../images/testimonials.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding-top: 67px;
}
.testimonials .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(190, 30, 45, 0.8);
}
.testimonials .testimonial-slider {
  position: relative;
}
.testimonials .testimonial-slider .testimonial {
  padding-left: 115px;
  padding-right: 115px;
}
.testimonials .testimonial-slider .testimonial h1 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
}
.testimonials .testimonial-slider .testimonial .quote {
  font-size: 12px;
  color: #ffffff;
  line-height: 28px;
}
.testimonials .testimonial-slider .testimonial .author {
  font-size: 12px;
  color: #ffffff;
  float: right;
  padding-top: 35px;
}
.testimonials .testimonial-slider-controls .slider-control {
  width: 30px;
  height: 30px;
  bottom: 165px;
  position: absolute;
  cursor: pointer;
}
.testimonials .testimonial-slider-controls #prev {
  left: 80px;
}
.testimonials .testimonial-slider-controls #next {
  right: 80px;
}

/* Gallery */
.gallery {
  width: 100%;
  height: 425px;
  margin: 0;
  background-color: #465b19;
}
.gallery h2 {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 13px;
  margin-bottom: 4px;
}
.gallery .gallery-border {
  background-color: #F1F2F2;
  width: 41px;
  height: 4px;
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
}
.gallery .thumbnail {
  height: 320px;
  margin: 5px;
  border: none;
  float: left;
  box-shadow: 5px 5px 5px #939598;
  cursor: pointer;
}
.gallery .thumbnail img {
  height: 320px;
}
.gallery .thumbnail:focus, .gallery .thumbnail:active {
  outline: none;
}

/* Footer */
.site-footer {
  background-color: #141414;
  height: 199px;
  width: 100%;
}

#footer-site-info .footer-site-logo {
  display: block;
  text-align: center;
  margin-top: 57px;
}
#footer-site-info .footer-site-logo img {
  height: 25px;
  width: 25px;
  display: inline-block;
}
#footer-site-info .footer-site-logo p {
  color: #A8A8A8;
  font-size: 12.8px;
  margin-left: 3px;
  font-family: "Charmonman", cursive;
  display: inline-block;
}
#footer-site-info .copyright {
  clear: both;
  text-align: center;
}
#footer-site-info .copyright p {
  color: #A8A8A8;
  padding-top: 65px;
  font-size: 10px;
}

#footer-main {
  margin-top: 26px;
  border-left: solid #939598 1px;
  border-right: solid #939598 1px;
}

.footer-navigation, .contact-details {
  float: left;
}

#footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#footer-menu li {
  float: none;
  margin-bottom: 5px;
}
#footer-menu li a {
  color: #A8A8A8;
  font-size: 12px;
}

.contact-details {
  margin-left: 180px;
}
.contact-details p {
  color: #A8A8A8;
  margin-bottom: 5px;
  font-size: 12px;
}

.social-icons {
  margin-top: 74px;
  text-align: center;
}
.social-icons .social-icon {
  height: 30px;
  width: 30px;
  margin-right: 2px;
}

/* Contact Page */
.contact h1 {
  font-size: 21px;
  text-transform: uppercase;
}
.contact p {
  font-size: 12px;
}
.contact #wpcf7-f28-o1 {
  border-top: solid #414042 1px;
}
.contact .wpcf7-form {
  margin-top: 39px;
  margin-bottom: 39px;
  text-align: center;
}
.contact .wpcf7-form p label {
  font-size: 14px;
  text-align: left;
}
.contact .wpcf7-form p input, .contact .wpcf7-form p textarea, .contact .wpcf7-form p select {
  border: solid #414042 1px;
  width: 500px;
  font-weight: normal;
}
.contact .wpcf7-form p .wpcf7-submit {
  text-transform: capitalize;
  color: #ffffff;
  background-color: #BE1E2D;
  font-size: 14px;
  width: 149px;
  height: 39px;
  transition: all 0.3s ease-in-out;
  border: solid #BE1E2D 1px;
  margin: 0 auto;
  display: block;
}
.contact .wpcf7-form p .wpcf7-submit:hover {
  background-color: #ffffff;
  color: #BE1E2D;
  border: solid #BE1E2D 1px;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-response-output {
  border: none;
  color: #be1e2d;
}

span.wpcf7-not-valid-tip {
  text-transform: lowercase;
}

span.wpcf7-not-valid-tip::first-letter {
  text-transform: uppercase;
}

/* Search Results Page */
.search-results h1 {
  font-size: 24px;
  color: #58595B;
}
.search-results .search-results-number, .search-results .excerpt {
  font-size: 12px;
  color: #A7A9AC;
}
.search-results .result, .search-results .no-results {
  padding: 20px 0;
  border-top: solid #BCBEC0 1px;
}
.search-results .title {
  font-size: 14px;
  color: #be1e2d;
}
.search-results .link {
  font-size: 12px;
  color: #465b19;
}

/* Blog page */
.blogs {
  margin-top: 46px;
}
.blogs .blog {
  margin: 32px 0;
  padding: 27px;
  -webkit-box-shadow: 3px 3px 5px 6px rgba(206, 206, 206, 0.6);
  -moz-box-shadow: 3px 3px 5px 6px rgba(206, 206, 206, 0.6);
  box-shadow: 3px 3px 5px 6px rgba(206, 206, 206, 0.6);
  display: flex;
  flex-wrap: wrap;
  color: #414042;
}
.blogs .blog:nth-child(odd) {
  flex-direction: row-reverse;
}
.blogs .blog:nth-child(1) {
  margin-top: 0;
}
.blogs .blog .wp-post-image {
  width: 457px;
  height: 296px;
  flex: 2;
}
.blogs .blog .blog-content {
  flex: 1;
  margin: 30px;
  margin-top: 0;
}
.blogs .blog .blog-content h1 {
  font-size: 24px;
  border-bottom: solid #cecece 1px;
  padding-bottom: 13px;
}
.blogs .blog .blog-content h1 a {
  color: #414042;
}
.blogs .blog .blog-content p, .blogs .blog .blog-content span {
  text-align: justify;
  font-size: 12px;
}

.blog-page-sidebar {
  height: 100%;
  background-color: #F7F7F7;
}

.about-sidebar-section {
  padding: 25px 52px;
  padding-bottom: 0;
}
.about-sidebar-section h3 {
  font-size: 14px;
  font-weight: 300;
  color: #465b19;
  text-transform: uppercase;
}
.about-sidebar-section p {
  font-size: 13px;
  font-weight: 300;
  color: #808285;
}

.sidebar-border {
  height: 1px;
  background-color: #808285;
  margin: 15px 15px;
  opacity: 0.4;
}

.posts-sidebar-section {
  padding: 25px 52px;
  padding-top: 0;
}
.posts-sidebar-section h3 {
  font-size: 14px;
  font-weight: 300;
  color: #465b19;
  text-transform: uppercase;
}
.posts-sidebar-section .recentpost .title {
  color: #8DC63F;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.posts-sidebar-section .recentpost .dateposted {
  color: #808285;
  font-size: 13px;
  font-weight: 300;
}

.blog-page {
  margin-top: 46px;
  margin-bottom: 54px;
}
.blog-page .blog-post h1 {
  font-size: 21px;
  color: #465b19;
}
.blog-page .blog-post .wp-post-image {
  width: 564px;
  height: 354px;
  margin: 24px 0;
}
.blog-page .blog-post .blog-content {
  font-size: 14px;
  color: #414042;
  text-align: justify;
}
.blog-page .blog-post span {
  margin-top: 43px;
}

/* Products page */
.products-page .vegetables-header {
  background-color: #be1e2d;
  margin-top: 46px;
  height: 36px;
}
.products-page .vegetables-header p {
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
}
.products-page .products {
  display: flex;
  flex-wrap: wrap;
}
.products-page .products .product {
  flex: 20%;
}
.products-page .products .attachment-product-image {
  border-radius: 50%;
  margin-top: 26px;
  height: 125px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.products-page .products .product-name {
  text-align: center;
  margin-top: 18px;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
}

/* About page*/
.about-page {
  padding-bottom: 46px;
}
.about-page h2 {
  text-align: center;
  font-size: 18px;
  color: #000000;
}
.about-page .about-border {
  background-color: #be1e2d;
  width: 41px;
  height: 4px;
  display: block;
  margin: 0 auto;
}
.about-page .about h3 {
  font-size: 18px;
  color: #000000;
  margin-bottom: 13px;
}
.about-page .about p {
  font-size: 12px;
  text-align: justify;
  color: #000000;
}
.about-page .about-profile-header {
  margin: 46px 0;
}
.about-page .about-profile-header p {
  font-size: 18px;
  text-align: center;
}
.about-page .about-profile-header .about-header-border {
  background-color: #be1e2d;
  width: 41px;
  height: 4px;
  margin: 0 auto;
}
.about-page .profile {
  display: flex;
  flex-wrap: wrap;
}
.about-page .profile:nth-child(odd) {
  flex-direction: row-reverse;
}
.about-page .profile .profile-image, .about-page .profile .profile-info {
  padding: 25px;
  flex: 50%;
}
.about-page .profile .profile-info {
  text-align: center;
  padding: 100px 0;
}
.about-page .about-image {
  width: 330px;
  height: 330px;
  border: solid #be1e2d 1px;
  margin: 0 auto;
}
.about-page .about-profile .name {
  font-size: 18px;
  font-weight: 500;
}
.about-page .about-profile .position {
  font-size: 14px;
  color: #808285;
  font-weight: 300;
}
.about-page .about-profile .description {
  font-size: 12px;
  font-weight: 300;
}

/* Gallery Page*/
.gallery-page {
  margin: 46px 0;
}
.gallery-page h3 {
  text-align: center;
  font-size: 20.4px;
}
.gallery-page .gallery-page-border {
  background-color: #be1e2d;
  height: 4px;
  width: 41px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.gallery-page .masonry {
  display: flex;
  flex-flow: wrap row;
}
.gallery-page .gallery-image {
  position: relative;
  flex: 20%;
  height: 100%;
}
.gallery-page .gallery-image .attachment-masonry-image {
  width: 100%;
  height: 100%;
  padding: 1px;
}
.gallery-page .gallery-image .gallery-image-info {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #be1e2d;
  color: #ffffff;
  opacity: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.gallery-page .gallery-image:hover .gallery-image-info {
  opacity: 0.8;
}

/* 404 page */
.page-not-found {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 20px;
  margin-top: 46px;
  color: #6D6E71;
  border: solid #465B19 1px;
  text-transform: uppercase;
  text-align: center;
}

.page-not-found-message {
  font-size: 14px;
  color: #6D6E71;
  font-weight: 300;
  text-align: center;
  margin-bottom: 60px;
}

.status-img {
  width: 250px;
  height: 108px;
  display: block;
  margin: 48px auto;
}

.pepper-img {
  width: 88px;
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.redirect-btn {
  width: 75px;
  height: 22px;
  background-color: #465B19;
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  transition: all 0.3s linear;
}
.redirect-btn:active, .redirect-btn:focus, .redirect-btn:visited, .redirect-btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.redirect-btn:hover {
  background-color: #be1e2d;
}

/* Default page */
.default {
  text-align: center;
  padding: 46px 0;
}
.default h3 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
  color: #58595B;
}
.default p {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #58595B;
}
.default img {
  margin-bottom: 40px;
}

/*# sourceMappingURL=styles.css.map */
