body {
    font-family:'Poppins', sans-serif;
}

/* Useful variables */
$charmonman: 'Charmonman', cursive;
$primary-color: #465b19;
$secondary-color: #be1e2d;
$gray-color: #F1F2F2;
$second-gray-color:#F7F7F7;
$third-gray-color:#808285;
$green-color:#8DC63F;
$blog-content-color:#414042;
/* Loading Screen */
.loading-screen {
    background-color:#44413E;
    height:960px;
    width:100%;
    position:fixed;
    top:0;
    opacity:1;
    z-index:20;

    .loader {
        #loading-logo {
            height:200px;
            width:200px;
            display:block;
            margin:0 auto;
            margin-top:120px;
        }

        #loader {
            height:200px;
            width:200px;
            display:block;
            margin:0 auto;
        }

        p {
            color:#ffffff;
            font-size:24px;
            text-align: center;
            text-transform:uppercase;
            font-family:sans-serif;
        }
    }
}

/* Header */
.header {
    padding:7px 0;
    background-color:$primary-color;

    .site-icon {
        float:left;

        img {
            width:45px;
            height:45px;
        }
    }

    .text-icon {
        float:left;

        p {
            font-family:$charmonman;
            font-size:20px;
            color:#ffffff;
            margin-left: 10px;
            margin-top: 10px;
        }
    }
}

#search-form {
    padding-top:8px;

    input {
        width:360px;
        color: #A7A9AC;
        background:transparent;
        background-image:url('../images/search-icon.png');
        background-size:18px 18px;
        background-repeat:no-repeat;
        background-position:97%;
        padding: 5px;
        border:none;
        border-bottom:solid #A7A9AC 1px;
        outline:none;
    }

    input::placeholder {
        color:#A7A9AC;
    }
}

/* Menu */
.menu-bottom-border {
    width:100%;
    height:4px;
    background-color:$gray-color;
}

#primary-menu {
    li a {
        font-size:14px;
        color:#000000;
        padding:11px 25px;
        padding-top: 30px;
    }

    li a:hover, li a:focus, li.active a {
        text-decoration:none;
        color:$secondary-color;
        font-weight:600;
    }
}

.mobile-menu {
    background-color:$secondary-color;

    #menu-toggle {
        color:#ffffff;
        padding-top:10px;
        padding-left:20px;
        padding-bottom: 10px;
        cursor:pointer;
        transition:all 0.4s ease-in;
        height:57px;
        width:65px;
    }



    .mobile-search {
        float:right;
        padding-top: 10px;
        padding-right:20px;
    }
}

.mobile-navigation {
    background-color:$secondary-color;
    border-top:solid #ffffff 1px;
    height: 100%;
    position: fixed;
    width:0;
    transition:0.4s linear;
    overflow-x:hidden;

    .close-nav {
        float: right;
        background: transparent;
        border: none;
        font-size: 30px;
        color:#ffffff;
    }

    #mobile-menu {
        padding:0;
        margin:0;
        clear:both;
        

        li {
            float:none;
            list-style-type: none;
            padding:5px;
            text-align:center;

            a {
                color:#ffffff;
                transition:all 0.4s ease-in-out;
            }

            &:hover {
                background-color:#ffffff;
                a {    
                    color:$secondary-color;
                }
            }
        }
    }
}

/* Slider */
.slider {
    margin-top:12px;

    .cycloneslider-template-standard {
        margin-bottom:0;

        .cycloneslider-pager {
            bottom:40px;
        }
    }
}

/* Testimonials */
.testimonials {
    height:351px;
    width:100%;
    background-image:url('../images/testimonials.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    position:relative;
    padding-top: 67px;

    .overlay {
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        height:100%;
        background-color:rgba(190, 30, 45, 0.8);
    }

    .testimonial-slider {
        position:relative;

        .testimonial {
            padding-left: 115px;
            padding-right: 115px;

            h1 {
                font-size:20px;
                color:#ffffff;
                text-transform:capitalize;
            }

            .quote {
                font-size:12px;
                color:#ffffff;
                line-height:28px;
            }

            .author {
                font-size:12px;
                color:#ffffff;
                float:right;
                padding-top: 35px;
            }
        }
    }

    .testimonial-slider-controls {
        .slider-control {
            width:30px;
            height:30px;  
            bottom:165px;
            position:absolute;
            cursor:pointer;
        }

        #prev {
            left:80px;
        }

        #next {
            right:80px;
        }
    }

}


/* Gallery */
.gallery { 
    width:100%;
    height:425px;
    margin:0;
    background-color:$primary-color;

    h2 {
        font-size:18px;
        text-align:center;
        color:#ffffff;
        margin-top:13px;
        margin-bottom:4px;
    }

    .gallery-border {
        background-color: $gray-color;
        width: 41px;
        height: 4px;
        display: block;
        margin: 0 auto;
        margin-bottom:4px;
    }

    .thumbnail {
        height:320px;
        margin:5px;
        border:none;
        float:left;
        box-shadow:5px 5px 5px #939598;
        cursor: pointer;

        img {
            height:320px;
        }
    }

    .thumbnail:focus, .thumbnail:active {
        outline:none;
    }

}


/* Footer */
.site-footer {
    background-color:#141414;
    height:199px;
    width:100%;   
}

#footer-site-info {
    .footer-site-logo {
        display:block;
        text-align: center;
        margin-top:57px;
        
        img {
            height:25px;
            width:25px;
            display:inline-block;
        }

        p {
            color:#A8A8A8;
            font-size:12.8px;
            margin-left:3px;
            font-family:$charmonman;
            display:inline-block;
        }
    }

    .copyright {
        clear:both;
        text-align:center;
        p {
            color:#A8A8A8;
            padding-top:65px;
            font-size:10px;
        }
    }
}

#footer-main {
    margin-top:26px;
    border-left:solid #939598 1px;
    border-right:solid #939598 1px;    
}

.footer-navigation, .contact-details {
    float:left;
}

#footer-menu {
    list-style-type: none;
    padding:0;
    margin:0;

    li {
        float:none;
        margin-bottom:5px;

        a {
            color:#A8A8A8;
            font-size:12px;
        }
    }
}

.contact-details {
    margin-left: 180px; 

    p {
        color:#A8A8A8;
        margin-bottom: 5px;
        font-size:12px;
    }
}

.social-icons {
    margin-top:74px;
    text-align:center; 
    .social-icon {
        height:30px;
        width:30px;
        margin-right:2px;
    }
}


/* Contact Page */
.contact {
    h1 {
        font-size:21px;
        text-transform:uppercase;
    }

    p {
        font-size:12px;
    }

    #wpcf7-f28-o1 {
        border-top:solid #414042 1px;
    }

    .wpcf7-form {
        margin-top:39px;
        margin-bottom:39px;
        text-align: center;

        p {

            label {
                font-size:14px;
                text-align:left;
            }

            input, textarea, select {
                border:solid #414042 1px;
                width:500px;
                font-weight:normal;
            }

            .wpcf7-submit {
                text-transform:capitalize;
                color:#ffffff;
                background-color:#BE1E2D;
                font-size:14px;
                width:149px;
                height:39px;
                transition:all 0.3s ease-in-out;
                border:solid #BE1E2D 1px;
                margin:0 auto;
                display:block;
            }

            .wpcf7-submit:hover {
                background-color:#ffffff;
                color:#BE1E2D;
                border:solid #BE1E2D 1px;
            }
        }
    }
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing, div.wpcf7-response-output {
    border:none;
    color:$secondary-color;
}

span.wpcf7-not-valid-tip {
    text-transform:lowercase;
}

span.wpcf7-not-valid-tip::first-letter {
    text-transform:uppercase;
}

/* Search Results Page */
.search-results {
    h1 {
        font-size:24px;
        color:#58595B;
    }

    .search-results-number, .excerpt {
        font-size:12px;
        color:#A7A9AC;
    }

    .result, .no-results {
        padding:20px 0;
        border-top:solid #BCBEC0 1px;
    }

    .title {
        font-size:14px;
        color:$secondary-color;
    }

    .link {
        font-size:12px;
        color:$primary-color;
    }
}

/* Blog page */
.blogs {
    margin-top:46px;

    .blog {
        margin:32px 0;
        padding:27px;
        -webkit-box-shadow: 3px 3px 5px 6px rgba(206,206,206,0.6);
        -moz-box-shadow: 3px 3px 5px 6px rgba(206,206,206,0.6);
        box-shadow: 3px 3px 5px 6px rgba(206,206,206,0.6);
        display:flex;
        flex-wrap:wrap;
        color:#414042;

        &:nth-child(odd) {
            flex-direction: row-reverse;
        }

        &:nth-child(1) {
            margin-top:0;
        }

        .wp-post-image {
            width: 457px;
            height: 296px;
            flex:2;
        }


        .blog-content {
            flex:1;
            margin:30px;
            margin-top:0;

            h1 {
                font-size:24px;
                border-bottom:solid #cecece 1px;
                padding-bottom:13px;

                a {
                    color:#414042;
                }
            }

            p, span {
                text-align:justify;
                font-size:12px;
            }
        }
    }
}

.blog-page-sidebar {
    height:100%;
    background-color:$second-gray-color;
}

.about-sidebar-section {
    padding:25px 52px;         
    padding-bottom:0;   
    h3 {
        font-size:14px;
        font-weight:300;
        color:$primary-color;
        text-transform:uppercase;
    }

    p {
        font-size:13px;
        font-weight:300;
        color:$third-gray-color;
    }
}

.sidebar-border {
    height:1px;
    background-color:$third-gray-color;
    margin:15px 15px;
    opacity: 0.4;
}

.posts-sidebar-section {
    padding:25px 52px;         
    padding-top:0;  
    h3 {
        font-size:14px;
        font-weight:300;
        color:$primary-color;
        text-transform:uppercase;
    }

    .recentpost {
        .title {
            color:$green-color;
            font-size:14px;
            font-weight:300;
            letter-spacing:0.1em;
        }

        .dateposted {
            color:$third-gray-color;
            font-size:13px;
            font-weight:300;
        }
    }
}

.blog-page {
    margin-top:46px;
    margin-bottom:54px;

    .blog-post {
        h1 {
            font-size: 21px;
            color:$primary-color;
        }

        .wp-post-image {
            width:564px;
            height:354px;
            margin:24px 0;
        }

        .blog-content {
            font-size:14px;
            color:$blog-content-color;
            text-align:justify;
        }

        span {
            margin-top:43px;
        }
    }
}

/* Products page */
.products-page {
    .vegetables-header {
        background-color:$secondary-color;
        margin-top:46px;
        height:36px;
        
        p {
            color:white;
            font-size:18px;
            text-align:center;
            line-height:36px;
        }
    }

    .products {
        display:flex;
        flex-wrap:wrap;

        .product {
            flex:20%;
        }

        .attachment-product-image {
            border-radius:50%;
            margin-top:26px;
            height:125px;
            width:125px;
            margin-left:auto;
            margin-right:auto;
            display:block;
        }

        .product-name {
            text-align:center;
            margin-top:18px;
            text-transform:capitalize;
            font-size:14px;
            font-weight:600;
        }
    }

        
    // .vegetable-prev-control, .vegetable-next-control {
    //     font-size:100px;
    //     position:absolute;
    //     bottom:230px;
    //     cursor: pointer;
    // }

    // .vegetable-prev-control {
    //     left:40px;
    // }

    // .vegetable-next-control {
    //     right:40px;
    // }
}

/* About page*/
.about-page {
    padding-bottom:46px;

    h2 {
        text-align:center;
        font-size:18px;
        color:#000000;
    }

    .about-border {
        background-color:$secondary-color;
        width: 41px;
        height: 4px;
        display:block;
        margin:0 auto;

    }

    .about {
        h3 {
            font-size:18px;
            color:#000000;
            margin-bottom:13px;
        }

        p {
            font-size:12px;
            text-align:justify;
            color:#000000;
        }
    }

    .about-profile-header {
        margin:46px 0;
        p {
            font-size:18px;
            text-align:center;
        }

        .about-header-border {
            background-color:$secondary-color;
            width:41px;
            height:4px;
            margin:0 auto;
        }
    }

    .profile {
        display:flex;
        flex-wrap:wrap;

        &:nth-child(odd) {
            flex-direction:row-reverse;
        }

        .profile-image, .profile-info {
            padding:25px;
            flex:50%;
        }

        .profile-info {
            text-align: center;
            padding: 100px 0;
        }
    }

    .about-image {
        width:330px;
        height:330px;
        border:solid $secondary-color 1px;
        margin:0 auto;
    }

    .about-profile {
        .name {
            font-size:18px;
            font-weight:500;
        }

        .position {
            font-size:14px;
            color:#808285;
            font-weight:300;
        }

        .description {
            font-size:12px;
            font-weight:300;
        }
    }
}

/* Gallery Page*/
.gallery-page {
    margin:46px 0;
    h3 {
        text-align:center;
        font-size:20.4px;
    }

    .gallery-page-border {
        background-color:$secondary-color;
        height:4px;
        width:41px;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .masonry {
        display:flex;
        flex-flow:wrap row;
    }

    .gallery-image {
        position:relative;
        flex:20%;
        height:100%;

        .attachment-masonry-image {
            width:100%;
            height:100%;
            padding:1px;
        }

        .gallery-image-info {
            position:absolute;
            width:100%;
            height:100%;
            left:0;
            top:0;
            background-color:rgb(190, 30, 45);
            color:#ffffff;
            opacity:0;
            cursor: pointer;
            transition:all 0.4s ease-in-out;
        }

        &:hover .gallery-image-info {
            opacity:0.8;
        }
    }
}

/* 404 page */
.page-not-found {
    font-size:18px;
    font-weight:500;
    padding:12px 20px;
    margin-top:46px;
    color:#6D6E71;
    border:solid #465B19 1px;
    text-transform: uppercase;
    text-align:center;
}

.page-not-found-message {
    font-size:14px;
    color:#6D6E71;
    font-weight:300;
    text-align:center;
    margin-bottom:60px;
}

.status-img {
    width:250px;
    height:108px;
    display:block;
    margin:48px auto;
}

.pepper-img {
    width: 88px;
    height: 30px;
    display:block;
    margin:0 auto;
    margin-bottom:35px;
}

.redirect-btn {
    width:75px;
    height:22px;
    background-color:#465B19;
    color:#ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-radius:3px;
    transition:all 0.3s linear;

    &:active, &:focus, &:visited, &:hover {
        color:#ffffff;
        text-decoration:none;
    }

    &:hover {
        background-color:$secondary-color;
    }
}

/* Default page */
.default {
    text-align:center;
    padding:46px 0;
    h3 {
        font-size:48px;
        font-weight:600;
        text-transform:uppercase;
        color:#58595B;
    }

    p {
        font-size:24px;
        font-weight:300;
        text-transform:uppercase;
        color:#58595B;
    }

    img {
        margin-bottom:40px;
    }
}
